*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

nav .container .navbar-brand{
    font-size: 25px;
    color: white;
    font-weight: bolder;

}
ul li a{
    display: flex;
    margin-left: 40px;
    font-size: 15px;
}
.nav-link{
    color: white;
}
.person{
    display: flex;
    color: rgb(27, 249, 27)ite;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
.person svg{
    color: ivory;
}
.person p{
    color:ivory;
}

.button{
    display: flex;
    position: relative;
}
.carousel-inner p{
    font-size: 27px;
    color: ivory;
    font-weight: bolder;
}
.up{
    background-color: #FFF6EA;
    background-size: cover;
}
.body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Features{
    display: block;
    text-align: center;
    font-style: italic;
    color: black;
    margin-top: 50px;
    font-weight: bolder;
}

.body-second{
    align-items: center;
    justify-items: center;
    /* margin: 2px 4px; */
    display: flex;
    justify-content: space-between;
    padding: 6% 2px;
    text-align: center;
}
.card-title{
    font-weight: bolder;
}
.card-img-top{
    width: 20%;
}
.card-1,
.card-2,
.card-3{
    color: black;
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 150px;
    justify-content: space-between;
    font-weight: bolder;
    font-style: italic;
    width: 25rem;
    height: 25rem;
}
.card-1:hover,
.card-2:hover,
.card-3:hover{
    color: black;
    background-color: white;
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 155px;
    justify-content: space-between;
    font-weight: bolder;
    font-style: italic;
    width: 22rem;
    height: 25rem;
}

.body-three{
    align-items: center;
    justify-items: center;
    margin: 2px 4px;
    display: flex;
    justify-content: space-between;
    padding: 6% 2px;
    text-align: center;
}
.card-4,
.card-5,
.card-6{
    color: black;
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 150px;
    justify-content: space-between;
    font-weight: bolder;
    font-style: italic;
    width: 25rem;
    height: 25rem;
}
.card-4:hover,
.card-5:hover,
.card-6:hover{
    color: black;
    background-color: white;
    transform: rotate(360deg);
    cursor: pointer;
    border-radius: 155px;
    font-weight: bolder;
    justify-content: space-between;
    font-style: italic;
    width: 22rem;
    height: 25rem;
}

.About-Us{
    background-color: #FFF6EA;
    background-size: cover;
    display: flex;
}
.about-body{
    color: black;
    text-transform: capitalize;
    font-style: italic;
    justify-content: space-between;
    display: block;
    margin: 5% 2% 5%;
    padding: 4% 3%;
    text-align: justify;
}
.About{
    font-weight: bolder;
    font-size: 35px;
}
.About-Invesment,
.Certified,
.Quality-investment{
    font-weight: bold;
    font-size: 25px;
}
.about-later,
.Certified-body,
.Quality-investment-body{
    font-weight: bold;
    font-size: 15px;
}
.Find-out-more{
    height: 10%;
    width: 37%;
    border-radius: 50px;
    color: white;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 35px;
    border-color: white;
}
.Find-out-more:hover{
    background-color: white;
    color: black;
    font-style: italic;
    border-color: white;
}
.img-about-side{
    width: 50%;
    height: 45%;
    margin-top: 12%;
}





.computer{
    display: flex;
    background-color: #FFF6EA;
}
.img-counterup{
    width: 30%;
    margin-left: -7%;
    margin-top: 20%;
    height: 50%;
}
.card{
    width: 20rem;
    height: 21rem;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    border-radius: 55px;
    align-items: center;
}
.card-img{
    width: 30%;
}


.Transaction{
    display: block;
    background-color: #FFF6EA;
    background-size: cover;
    justify-content: space-between;
}
.Transaction-up{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5% 5%;
}
.Transaction-1{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
.Latest-Transaction{
    font-weight: bolder;
    font-size: 40px;
    font-style: italic;
}
.payday-investor{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}
.Deposit{
    width: 15%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    font-style: italic;
}
.withdraw{
    width: 15%;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    font-style: italic;
}
.frist-from{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 3px 10%;
    overflow: auto;
    height: 500px;
}
.table{
    background-color: white;
    border-color: rgb(218, 205, 242);
    
}

.Investment-Plan{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFF6EA;
}
.Pricing{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    padding: 3% 3%;
}
.Investment{
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
.Invest-with-us{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}
.card-7{
    border-style: double;
    height: 85vh;
    width: 28vw;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    justify-items: center;
    margin: 10% 20%;
}
.card-img-7{
    height: 70px;
    width: 70px;
    margin-top: 10%;
    border-radius: 50px;
}
.STARTER,
.AMATEUR,
.PROFESSIONAL,
.DIAMOND{
    font-weight: bolder;
    height: 10%;
    font-size: 25px;
    font-style:italic;
    color: black;
}
.card-text-7{
    font-weight: bold;
    font-style: italic;
    color: black;
}
.Invest-Now{
    height: 10%;
    width: 70%;
    border-radius: 30px;
    background-color: none;
    font-weight: bold;
    font-style: italic;
    margin-top: 50%;
}
.Invest-Now:hover{
    height: 10%;
    width: 70%;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    font-style: italic;
    margin-top: 50%;
    color: rgb(26, 15, 105);
}

.Copyright{
    display: flex;
    background-color: #FFEEEE;
    background-size: cover;
    padding: -30% 0;
}
.Join-millions{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin: 15% 5%;
    text-align: justify;
}
.Useful-Link{
    display: block;
    font-style: italic;
    font-weight: bolder;
    text-align: justify;
    font-size: 20px;
    margin: 15% 5%;
}
.Useful-Link a{
    display: block;
    font-style: italic;
    text-decoration: none;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 15, 105);
}
.Contact-1{
    display: block;
    font-style: italic;
    font-weight: bolder;
    text-align: justify;
    font-size: 20px;
    margin: 15% 5%;
}
.Contact-1 a{
    display: block;
    font-style: italic;
    text-decoration: none;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 15, 105);
}

.social-up{
    display: block;
    background-color: #FFEEEE;
    background-size: cover;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 5% 0;
    
}
.social-follow-us{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.social-img a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    justify-content: space-around;
}


.copy-start{
    background-color: #FFEEEE;
    background-size: cover;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
























/* media queries */
@media(max-width: 991px){
    nav .container .navbar-brand{
        padding: 1rem 2rem;
        /* background-color: white; */
        color: white;
        /* font-size: 2.5rem; */
        font-weight: bolder;
    }
    .nav-link{
        font-weight: bolder;
        color: white;
    }
    .person{
        display: flex;
        color: rgb(27, 249, 27)ite;
        text-decoration: none;
        font-size: 15px;
        /* font-size: 2.5rem; */
        font-weight: bolder;
    }
    .person svg{
        color: white;
    }
    .person p{
        color:white;
    }

    .carousel-inner p{
        font-size: 20px;
        color: ivory;
        font-weight: bolder;
    }
    .up{
        background-color: #FFF6EA;
        background-size: cover;
        display: none;
    }
    .body{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Features{
        /* position: absolute; */
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: italic;
        color: gray;
        margin-top: 50px;
        font-size: 17px;
        font-weight: bolder;
    }
    .body-second,
    .body-three{
        /* margin-top: 20px; */
        align-items: center;
        justify-items: center;
        margin: 2px 4px;
        display: block;
        justify-content: space-between;
        padding: 3px 5px;
        text-align: center;
        font-size: 15px;
    }
    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6{
       color: white;
       /* background-color: gray; */
       transform: rotate(360deg);
       cursor: pointer;
       border-radius: 15px;
       justify-content: space-between;
       font-weight: bolder;
       margin: 0 0 5%;
       width: 30rem;
       height: 20rem;
    }
    .card-1:hover,
    .card-2:hover,
    .card-3:hover,
    .card-4:hover,
    .card-5:hover,
    .card-6:hover{
       color: gray;
       background-color: white;
       transform: rotate(360deg);
       cursor: pointer;
       border-radius: 90px;
       justify-content: space-between;
       font-weight: bolder;
       margin: 0 0 5%;
       width: 30rem;
       height: 20rem;
       
    }

    .about-body{
        color: black;
        text-transform: capitalize;
        /* font-weight: bolder; */
        font-style: italic;
        justify-content: space-between;
        display: block;
        /* margin: 5% 2% 5%; */
        /* padding: 4% 3%; */
        text-align: justify;
    }
    .About{
        font-weight: bolder;
        font-size: 25px;
    }
    .About-Invesment,
    .Certified,
    .Quality-investment{
        font-weight: bold;
        font-size: 20px;
    }
    .about-later,
    .Certified-body,
    .Quality-investment-body{
        font-weight: bold;
        font-size: 13px;
    }
    .img-about-side{
        display: none;
        width: 50%;
        height: 45%;
        margin-top: 12%;
    } 

    .img-counterup{
        display: none;
        width: 30%;
        margin-left: -7%;
        margin-top: 17%;
        height: 50%;
    }   
    .card{
        width: 15rem;
        height: 15rem;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        border-radius: 55px;
        align-items: center;
        justify-items: center;
    }

    .Transaction{
        display: block;
        background-image: #FFF6EA;
        background-size: cover;
        justify-content: space-between;
    }
    .Transaction-up{
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5% 5%;
    }
    .Transaction-1{
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }
    .Latest-Transaction{
        font-weight: bold;
        font-size: 20px;
        font-style: italic;
    }
    .payday-investor{
        font-weight: bold;
        font-size: 13px;
        font-style: italic;
        text-align: justify;
    }
    .Deposit{
        width: 35%;
        height: 50px;
        background-color: black;
        color: white;
        border-radius: 50px;
        font-weight: bold;
        font-style: italic;
    }
    .withdraw{
        width: 35%;
        height: 50px;
        background-color: white;
        color: black;
        border-radius: 50px;
        font-weight: bold;
        font-style: italic;
    }
    .frist-from{
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 3px 10%;
        overflow: auto;
        height: 400px;
        width: 300px;
    }
    .Pricing{
        font-weight: bold;
        font-size: 18px;
        font-style: italic;
        padding: 3% 3%;
    }
    .Investment{
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
    }
    .Invest-with-us{
        font-weight: bold;
        font-size: 12px;
        font-style: italic;
    }
   .STARTER,
   .AMATEUR,
   .PROFESSIONAL,
   .DIAMOND{
      font-weight: bolder;
      height: 10%;
      font-size: 20px;
      font-style:italic;
      color: black;
    }
    .Invest-with-us{
        font-weight: bold;
        font-size: 12px;
        font-style: italic;
    }
    .card-text-7{
        font-weight: bold;
        font-style: italic;
        color: black;
        font-size: 13px;
    }
    .card-7{
        border-style: double;
        height: 80vh;
        width: 90vw;
        border-radius: 30px;
        text-align: center;
        align-items: center;
        justify-items: center;
        margin: 15% -5%;
        justify-content: center;
    }
    .Copyright{
        display: block;
        background-color: #FFEEEE;
        background-size: cover;
    }
    .Join-millions{
        font-weight: bold;
        font-size: 13px;
        font-style: italic;
        margin: 0 2%;
        text-align: justify;
        padding: 4% 5%;
    }
    .Useful-Link{
        display: block;
        font-style: italic;
        text-align: justify;
        font-size: 15px;
        padding: 11% 5%;
        margin: -15% 5%;
    }
    .Useful-Link a{
        display: block;
        font-style: italic;
        text-decoration: none;
        text-align: justify;
        color: rgb(26, 15, 105);
    }
    .Contact-1{
        display: block;
        font-style: italic;
        text-align: justify;
        font-size: 15px;
        margin: -10% 5%;
        padding: 11% 5%;
    }
    .Contact-1 a{
        display: block;
        font-style: italic;
        text-decoration: none;
        text-align: justify;
        color: rgb(26, 15, 105);
    }
    
    .social-up{
        display: block;
        background-color: #FFEEEE;
        background-size: cover;
        text-align: center;
        justify-content: center;
        justify-items: center;
        padding: 4% 5%;
    }
    .social{
        display: block;
        font-style: italic;
        text-align: justify;
        margin: -10% 5%;
        padding: 10% 5%;
    }
    .social-follow-us{
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
    }
    .social-img a{
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        justify-content: space-around;
    }
    .copy-start{
        background-color: #FFEEEE;
        background-size: cover;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        margin: 0 0;
    }
    
    
}