*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

nav .container .navbar-brand{
    font-size: 25px;
    color: white;
    font-weight: bolder;

}
ul li a{
    display: flex;
    margin-left: 40px;
    font-size: 15px;
}
.nav-link{
    color: white;
}
.person{
    display: flex;
    color: rgb(27, 249, 27)ite;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
}
.person svg{
    color: ivory;
}
.person p{
    color:ivory;
}

.start{
    background-color: whitesmoke;
    padding: 2px 0;
}
.contact-info{
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 5% 0;
} 
.Contact-Info-11{
    color: rgb(27, 249, 27);
    font-size: 30px;
}
.More-Business-Info{
    font-size: 45px;
    color: slateblue;
}
.what-are-her-for{
    color: slateblue;
    font-size: 20px;
}
.row{
    /* background-color: blue; */
    margin: 10% 50px;
    height: 25rem;
    font-style: italic;
    color: slateblue;
}
.card img{
    width: 50px;
    padding: 40% 0;
    cursor: not-allowed;
}
.card-body .card-title{
    padding: 10% 0;
}
.card-body .card-text{
    padding: 5% 0;
}
.card{
    width: 20rem;
    height: 20rem;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    /* border-radius: 55px; */
    margin: 0 30px;
    align-items: center;
}
.card:hover{
    width: 20rem;
    /* height: 15rem; */
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    border-radius: 30px; 
    margin: 0 30px;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.card-img{
    width: 30%;
}

.Copyright{
    display: flex;
    background-color: #FFEEEE;
    background-size: cover;
    padding: -30% 0;
}
.Join-millions{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin: 15% 5%;
    text-align: justify;
}
.Useful-Link{
    display: block;
    font-style: italic;
    font-weight: bolder;
    text-align: justify;
    font-size: 20px;
    margin: 15% 5%;
}
.Useful-Link a{
    display: block;
    font-style: italic;
    text-decoration: none;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 15, 105);
}
.Contact-1{
    display: block;
    font-style: italic;
    font-weight: bolder;
    text-align: justify;
    font-size: 20px;
    margin: 15% 5%;
}
.Contact-1 a{
    display: block;
    font-style: italic;
    text-decoration: none;
    text-align: justify;
    font-weight: bold;
    color: rgb(26, 15, 105);
}

.social-up{
    display: block;
    background-color: #FFEEEE;
    background-size: cover;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 5% 0;
    
}
.social-follow-us{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}
.social-img a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    justify-content: space-around;
}


.copy-start{
    background-color: #FFEEEE;
    background-size: cover;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}









/* media queries */
@media(max-width: 991px){

    nav .container .navbar-brand{
        padding: 1rem 2rem;
        /* background-color: white; */
        color: white;
        /* font-size: 2.5rem; */
        font-weight: bolder;
    }
    .nav-link{
        font-weight: bolder;
        color: white;
    }
    .person{
        display: flex;
        color: rgb(27, 249, 27)ite;
        text-decoration: none;
        font-size: 15px;
        /* font-size: 2.5rem; */
        font-weight: bolder;
    }
    .person svg{
        color: white;
    }
    .person p{
        color:white;
    }

    .start{
        padding: 2px 0;
        height: 100%;
    }
    .contact-info{
        display: block;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        padding: 3% 0;
    }
    .Contact-Info-11{
        color: rgb(27, 249, 27);
        font-size: 20px;
    }
    .More-Business-Info{
        font-size: 30px;
        color: slateblue;
    }
    .what-are-her-for{
        color: slateblue;
        font-size: 15px;
    }
    .row{
        margin: 5px 30px;
        height: 70rem;
        font-style: italic;
        color: slateblue;
    }
    .card img{
        width: 50px;
        padding: 20% 0;
        cursor: not-allowed;
    }
    .card-body .card-title{
        padding: 5% 0;
    }
    .card-body .card-text{
        padding: 5px 0;
    }
    .card{
        width: 20rem;
        height: 20rem;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        /* border-radius: 55px; */
        margin: 0 2px;
        align-items: center;
    }
    .card:hover{
        width: 25rem;
        height: 20rem;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        border-radius: 30px; 
        margin: 0 2px;
        align-items: center;
        background-color: white;
        cursor: pointer;
    }
    .card-img{
        width: 10%;
    }

    .Copyright{
        display: block;
        background-color: rgb(177, 177, 211);
        background-size: cover;
    }
    .Join-millions{
        font-weight: bold;
        font-size: 13px;
        font-style: italic;
        margin: 0 2%;
        text-align: justify;
        padding: 4% 5%;
    }
    .Useful-Link{
        display: block;
        font-style: italic;
        text-align: justify;
        font-size: 15px;
        padding: 11% 5%;
        margin: -15% 5%;
    }
    .Useful-Link a{
        display: block;
        font-style: italic;
        text-decoration: none;
        text-align: justify;
        color: rgb(26, 15, 105);
    }
    .Contact-1{
        display: block;
        font-style: italic;
        text-align: justify;
        font-size: 15px;
        margin: -10% 5%;
        padding: 11% 5%;
    }
    .Contact-1 a{
        display: block;
        font-style: italic;
        text-decoration: none;
        text-align: justify;
        color: rgb(26, 15, 105);
    }
    .social-up{
        display: block;
        background-color: rgb(177, 177, 211);
        background-size: cover;
        text-align: center;
        justify-content: center;
        justify-items: center;
        padding: 4% 5%;
    }
    .social{
        display: block;
        font-style: italic;
        text-align: justify;
        margin: -10% 5%;
        padding: 10% 5%;
    }
    .social-follow-us{
        font-size: 15px;
        font-weight: bold;
        font-style: italic;
    }
    .social-img a{
        color: black;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        justify-content: space-around;
    }
    .copy-start{
        background-color: rgb(177, 177, 211);
        background-size: cover;
        font-size: 15px;
        font-style: italic;
        text-align: center;
        margin: 0 0;
    }
}



    
